In [1]:
import pandas as pd

In [ ]:
# Zgony_wg_przyczyn.xlsx
df = pd.read_excel('Zgony_wg_przyczyn.xlsx', sheet_name='DANE')

df = df.drop(columns=['Jednostka miary', 'Atrybut'])
df.columns = ['Region_ID', 'Region', 'Cause', 'Year', 'Deaths', 'Suicide_Percentage']

df_total = df[df['Cause'] == 'razem'].drop(columns=['Cause', 'Suicide_Percentage'])
df_suicide = df[df['Cause'] == 'zewnętrzne przyczyny zachorowania i zgonu - samobójstwo'].drop(columns=['Cause'])

df_merged = pd.merge(df_total, df_suicide, on=['Region_ID', 'Region', 'Year'], suffixes=('_Total', '_Suicide'))
df_merged.columns = ['Region_ID', 'Region', 'Year', 'Total_Deaths', 'Suicide_Deaths', 'Suicide_Percentage']

df_merged['Suicide_Percentage'] = df_merged['Suicide_Percentage'].fillna('').astype(str)

df_merged['Suicide_Percentage'] = df_merged['Suicide_Percentage'].str.replace(',', '.').astype(float)

df_merged = df_merged.drop(columns=['Region_ID'])

print(df_merged.head())

   Region  Year  Total_Deaths  Suicide_Deaths  Suicide_Percentage
0  POLSKA  1999        381415            5778            1.514885
1  POLSKA  2000        368028            5841            1.587108
2  POLSKA  2001        363220            5855            1.611971
3  POLSKA  2002        359486            5924            1.647908
4  POLSKA  2003        365230            5834            1.597350

In [18]:
df_merged.to_excel('cleaned_deaths_data.xlsx', index=False, sheet_name='Deaths_Data')

In [19]:
df_cleaned = pd.read_excel('cleaned_deaths_data.xlsx', sheet_name='Deaths_Data')
df_cleaned.head()

   Region  Year  Total_Deaths  Suicide_Deaths  Suicide_Percentage
0  POLSKA  1999        381415            5778            1.514885
1  POLSKA  2000        368028            5841            1.587108
2  POLSKA  2001        363220            5855            1.611971
3  POLSKA  2002        359486            5924            1.647908
4  POLSKA  2003        365230            5834            1.597350

In [2]:
# Stopa_bezrobocia_rejestrowanego_i_stopa_napływu_bezrobotnych_zarejestrowanych.xlsx
import pandas as pd
df = pd.read_excel('Stopa_bezrobocia_rejestrowanego_i_stopa_napływu_bezrobotnych_zarejestrowanych.xlsx',  sheet_name='DANE')  

df = df.drop(columns=['Kod', 'Atrybut', 'Jednostka miary'])

df.columns = ['Region', 'Month', 'Indicator', 'Year', 'Value']

df['Value'] = df['Value'].replace('-', None)

df['Value'] = df['Value'].astype(str)

df['Value'] = df['Value'].str.replace('%', '').str.replace(',', '.')

df['Value'] = pd.to_numeric(df['Value'], errors='coerce')

df = df.dropna()

print(df.head())

   Region    Month                        Indicator  Year  Value
0  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2011   13.1
1  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2012   13.2
2  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2013   14.2
3  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2014   13.9
4  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2015   11.9

In [3]:
df.to_excel('cleaned_Stopa_bezrobocia_rejestrowanego_i_stopa_napływu_bezrobotnych_zarejestrowanych.xlsx', index=False, sheet_name='Unemployment_Data')

df_cleaned = pd.read_excel('cleaned_Stopa_bezrobocia_rejestrowanego_i_stopa_napływu_bezrobotnych_zarejestrowanych.xlsx',sheet_name='Unemployment_Data')
df_cleaned.head()

   Region    Month                        Indicator  Year  Value
0  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2011   13.1
1  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2012   13.2
2  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2013   14.2
3  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2014   13.9
4  POLSKA  styczeń  stopa bezrobocia rejestrowanego  2015   11.9

In [12]:
df = pd.read_excel('Udział_zarejestrowanych_bezrobotnych_absolwentów_wśród_bezrobotnych_ogółem_wg.xlsx', sheet_name='Graduates_Data')
df = df.drop(columns=['Region_ID'])
df.head()

   Region  Year  Female  Male  Total
0  POLSKA  2012     6.5   5.3    5.9
1  POLSKA  2013     6.2   5.0    5.6
2  POLSKA  2014     5.1   4.2    4.7
3  POLSKA  2015     5.0   4.1    4.6
4  POLSKA  2016     4.1   3.6    3.9